.header-top {
    background-color: var(--color-bg-1);
}

.header-top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
 

    .header-top-link{
        display: flex;
        li {
            padding-right: 33px;
            &:last-child {
                padding-right: 0;
            }
            a {
                color: var(--color-body);
                font-family: 'Prompt';
                font-weight: var( --f-regular);
                font-size: 15px;
                line-height: 1.20;
                text-transform: capitalize;
                i {
                    margin-right: 13px;

                }
                span {

                }
            }

            &.location {
                border-left: 1px solid var(--color-body);
                padding-left: 33px;
            }
        }
    }
}

.social-share-transparent {
    display: flex;
    li {
        padding: 0 16px;
        border-right: 1px solid var(--color-body);
        a {
            i {
                color: var(--color-body);
                
            }
        }
    }
}



