.header-container {
    display: grid;
    grid-template-columns: 1fr 426px;
    gap: 0;
    .header-left {
        // clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
        .header-left-inner{
            display: flex;
            align-items: center;
        }
    }
    .header-right {
        // clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
        padding: 30px;
        .header-right-inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .contact {
                display: flex;
                align-items: center;
            }
        }
    }
}

.gmt-header{
    .mainmenu-nav{
        .mainmenu {
            display: flex;
            align-items: center;
            > li {
                > a {
                    color: var(--color-heading);
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0 17px;
                    display: flex;
                    align-items: center;
                    height: 80px;
                    line-height: 80px;
                    transition: 0.3s;
                    @media #{$laptop-device} {
                        padding: 0 10px;
                    }
                    @media #{$lg-layout} {
                        padding: 0 10px;
                    }
                    @media #{$md-layout} {
                        padding: 0 12px;
                    }
                    i {
                        transition: 0.3s;
                    }
                    &.active {
                        color: var( --color-heading);
                    }
                }
                &:hover,
                &.active {
                    > a {
                        color: var( --color-heading) !important;
                        i {
                            transform: rotate(180deg);
                            margin-top: 2px;
                        }
                    }
                }

            }

            li {
                margin-top: 0;
                margin-bottom: 0;
                position: relative;
                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

                // Dropdown Menu 
                &.has-dropdown {

                    .submenu {
                        min-width: 240px;
                        height: auto;
                        z-index: 90;
                        text-align: left;
                        padding: 12px 0;
                        border-radius: 0 0 10px 10px;
                        box-shadow: var(--shadow-1);
                        display: flex;
                        background-color: var( --color-border);
                        flex-direction: column;
                        border-top: 1px solid var(--color-secondary);
                        @extend %gmt-dropdown-type-1;
                        li {
                            position: relative;
                            a {
                                font-weight: 500;
                                padding: 10px 20px;
                                font-size: 14px;
                                display: block;
                                color: var(--color-body);
                                margin: 0 10px;
                                border-radius: 3px;
                                @extend %transition;
                              
                                &:hover {
                                    color: var(--color-primary) !important;
                                    background:var(--color-bg-2);
                                }
                                &.active {
                                    color: var(--color-primary) !important;
                                    background:var(--gradient-opacity);
                                }
                            }

                            ul {
                                &.submenu {
                                    left: 100%;
                                    top: 0;
                                    text-align: left;
                                }
                            }
                        }
                    }

                    &:hover {
                        > .submenu {
                            @extend %gmt-hover-dropdown-type-1;
                        }
                    }
                    

                }
            }
        }
    }
}