ul {
    margin-bottom: 0;
    li {
        list-style: none;
        margin: 0;
        a {
            display: inline-block;
        }
    }
}

.bg-gradient-color-primary {
    background: var(--gradient-1);
}


.bg-dark {
    background-color: var( --color-bg-1);
}
.bg-color-dark {
    background-color: var( --color-black);
}
.bg-color-deep-black {
    background-color: var( --color-deep-black);
}

.img-url {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.position-absulate {
    position: absolute;
    z-index: 100;
}

.bg-images-common-style {
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
     content: " ";
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
    //  background: linear-gradient(73.34deg, #191919 40.96%, rgba(25, 25, 25, 0.5) 100.7%);
     z-index: -1;
    }
 }


 .bg-images-common-style-without-position {
    background-position: center;
    background-size: cover;
 }


 .custom-text-style {
    text-stroke: 2px transparent;
    -webkit-text-stroke: 2px #FFFFFF;
    color: transparent;
}
