.single-service {
    .service-inner {
        img {
            width: 100%;
        }

        .services-title {
            font-weight: var(--f-medium);
            text-align: center;
            text-transform: capitalize;
            color: var(--color-white);
            margin-top: 40px;
        }
    }
    
}

.card-slider-head-inner {
    position: relative;
    .section-head {
        position: absolute;
        left: -40%;
        transform: rotate(270deg);
    }
}

.card-slider-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    .description {
        max-width: 550px;
        margin-right: 186px;
    }
}