.services-list {
    li {
        list-style: disc;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.support {
    border-top: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
}
.border-b {
    border-bottom: 1px solid var(--color-border);
}

.border-r {
    border-right: 1px solid var(--color-border);
}

.support-inner {
    padding: 40px 30px;
}
.title  {
    &.title-top {
        font-size: 32px;
    }
    &.service-title {
        font-size: 32px;
        margin-top: 40px;
    }
}