.section-head {
    margin: 0 auto;
    margin-bottom: 60px;
    // padding: 0 320px;

    &.section-head-center {
        padding: 0 300px;
    }
    &.roted-section-title {
        padding: 0;
    }
    .sub-title {
        font-weight: var(--f-medium);
        font-size: var(  --font-size-b3);
        line-height:var(--line-height-b3);
        text-transform: capitalize;
        color: var(--color-body);
        text-align: center;
        margin-bottom: 30px;
    }
    .title {
        font-weight: var(--f-semi-bold);
        text-transform: capitalize;
        color: var(--color-white);
        text-align: center;
    }
}


.section-title-left {


    &.oil-industry {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            margin-bottom: 65px;
        }
    }
    .sub-title {
        font-weight: var(--f-medium);
        font-size: var(--font-size-b3);
        line-height:var(--line-height-b3);
        text-transform: capitalize;
        color: var(--color-body);
        margin-bottom: 30px;
    }
    .title {
        font-weight: var(--f-semi-bold);
        text-transform: capitalize;
        color: var(--color-white);
    }

}