<div class="header-top">
    <div class="container">
     <div class="row">
         <div class="col-lg-12">
             <div class="header-top-inner">
                 <div class="header-top-left">
                     <ul class="header-top-link">
                         <li class="email"><a href="#"><i class="fa-solid fa-paper-plane"></i><span>Info.company@gmail.com</span></a></li>
                         <li class="location"><a href="#"><i class="fa-solid fa-location-dot"></i><span>85 Ketch Harbour RoadBensalem, PA 19020</span></a></li>
                     </ul>
                  
                 </div>
                 <div class="header-top-right">
                     <div class="header-top-info">
                         <ul class="social-share-transparent">
                             <li>
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                             </li>
                             <li>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                             </li>
                             <li>
                                 <a href="#"><i class="fab fa-linkedin-in"></i></a>
                             </li>
                             <li>
                                 <a href="#"><i class="fab fa-instagram"></i></a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    </div>
 </div>

<header class="gmt-header header-style-three">
    <div class="header-main">
        <div class="header-container">
            <div class="header-left">
                <div class="header-left-inner">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/header/logo-industrial.png" alt="Industrial logo Image">
                        </a>
                    </div>
    
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="nav-link has-dropdown"><a href="index.html">Home
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="submenu">
                                <li><a href="oil-industry.html">Oil Industry</a></li>
                                <li><a href="gas-industry.html">Gas Industry</a></li>
                            </ul>
                        
                        </li>



                            <li class="nav-link"><a href="about.html">About Us</a></li>
                            <li class="nav-link has-dropdown"><a href="#">Projects
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="submenu">
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="practice.html">practice</a></li>
                                <li><a href="projects-details.html">Pervices Details</a></li>
                                
                            </ul>
                            
                        </li>
                            <li class="nav-link"><a href="services.html">Services</a></li>
                            <li class="nav-link has-dropdown"><a href="#">pages
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                                <ul class="submenu">
                                    <li><a href="client-feedback.html">client-feedback</a></li>
                                    <li><a href="services-details.html">Services Details</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                    <li><a href="standard-blog.html">Standard Blog</a></li>
                                    <li><a href="client-feedback.html">Client feedback</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            
                            <li class="nav-link has-dropdown"><a href="blog.html">Blog<i class="fa-solid fa-angle-down"></i>
                                
                            </a>
                                <ul class="submenu">
                                    <li><a href="services-details.html">Services Details</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="standard-blog.html">Standard Blog</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="header-right">
                <div class="header-right-inner">
                    <div class="contact">
                        <a class="phone-icon" href="#"><i class="fa-solid fa-phone-volume"></i></a>
                        <p><a href="#">+91 2659 302 003</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>