<header class="gmt-header">
    <div class="header-main">
        <div class="header-container">
            <div class="header-left bg-gradient-color-primary">
                <div class="header-left-inner">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/header/logo-industrial.png" alt="Industrial logo Image">
                        </a>
                    </div>
    
                    <nav class="header-nav">
                        <ul class="mainmenu">
                            <li class="nav-link"><a href="#">Home</a></li>
                            <li class="nav-link"><a href="standard-blog.html">Standard Blog</a></li>
                            <li class="nav-link"><a href="client-feedback.html">client feedback</a></li>
                            <li class="nav-link"><a href="404.html">404</a></li>
                            <li class="nav-link"><a href="team.html">team</a></li>
                            <li class="nav-link"><a href="pricing-plan.html">pricing</a></li>
                            <li class="nav-link"><a href="#">Contact us</a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
            
            <div class="header-right bg-dark">
                <div class="header-right-inner">
                <div class="contact">
                <p><i class="fa-solid fa-phone-volume"></i></p>
                <p><a href="#">+91 2659 302 003</a></p>
                </div>
                    <div class="dots">
                        <p><img src="assets/images/header/dots.png" alt="dots"></p>
                    </div>
                </div>
            </div>

        </div>
    
        
    </div>
</header>