
<header class="gmt-header  header-style-two bg-color-deep-black ">
    <div class="header-main">
        <div class="header-container">
            <div class="header-left">
                <div class="header-left-inner">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo-yellow.png" alt="Industrial logo Image">
                        </a>
                    </div>
    
                    

                </div>
            </div>
            <div class="header-right">
                <div class="header-right-inner">

                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="nav-link has-dropdown"><a href="index.html">Home
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="submenu">
                                <li><a href="oil-industry.html">Oil Industry</a></li>
                                <li><a href="gas-industry.html">Gas Industry</a></li>
                                
                            </ul>
                        
                        </li>



                            <li class="nav-link"><a href="about.html">About Us</a></li>
                            <li class="nav-link has-dropdown"><a href="#">Projects
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="submenu">
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="practice.html">practice</a></li>
                                <li><a href="projects-details.html">Pervices Details</a></li>
                                
                            </ul>
                            
                        </li>
                            <li class="nav-link"><a href="services.html">Services</a></li>
                            <li class="nav-link has-dropdown"><a href="#">pages
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                                <ul class="submenu">
                                    <li><a href="client-feedback.html">client-feedback</a></li>
                                    <li><a href="services-details.html">Services Details</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                    <li><a href="standard-blog.html">Standard Blog</a></li>
                                    <li><a href="client-feedback.html">Client feedback</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            
                            <li class="nav-link has-dropdown"><a href="blog.html">Blog
                                <i class="fa-solid fa-angle-down"></i>
                                
                            </a>
                                <ul class="submenu">
                                    <li><a href="services-details.html">Services Details</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="standard-blog.html">Standard Blog</a></li>
                                </ul>
                            </li>
                            <li class="nav-link"><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>
                    <div class="btn-header">
                        <a class="btn-default" href="#">Get A Quote</a>
                    </div>
                   
                </div>
            </div>

        </div>
    
        
    </div>
</header>