<header class="gmt-header">
    <div class="header-main">
        <div class="header-container">
            <div class="header-left bg-gradient-color-primary">
                <div class="header-left-inner">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/header/logo-industrial.png" alt="Industrial logo Image">
                        </a>
                    </div>
    
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="nav-link"><a href="index.html">Home</a></li>
                            <li class="nav-link"><a href="about.html">About Us</a></li>
                            <li class="nav-link"><a href="#">Projects</a></li>
                            <li class="nav-link"><a href="#">Services</a></li>
                            <li class="nav-link has-dropdown "><a href="#">pages
                                <i class="fa-solid fa-angle-down fa-fade"></i>
                            </a>
                                <ul class="submenu">
                                    <li><a href="client-feedback.html">client-feedback</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                    <li><a href="standard-blog.html">Standard Blog</a></li>
                                    <li><a href="client-feedback.html">Client feedback</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            
                            <li class="nav-link"><a href="blog.html">Blog</a></li>
                            <li class="nav-link"><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="header-right bg-dark">
                <div class="header-right-inner">
                    <div class="contact">
                        <p><i class="fa-solid fa-phone-volume"></i></p>
                        <p><a href="#">+91 2659 302 003</a></p>
                    </div>
                    <div class="dots">
                        <p><img src="assets/images/header/dots.png" alt="dots"></p>
                    </div>
                </div>
            </div>

        </div>
    
        
    </div>
</header>