<!-- JS
============================================ -->

<script src="assets/js/vendor/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/all.min.js"></script>
<script src="assets/js/vendor/modernizr.min.js"></script>
<script src="assets/js/plugins/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
<script src="assets/js/plugins/swiper-bundle.min.js"></script>

<script src="assets/js/plugins/TweenMax.min.js"></script>

 <!-- add GSAP and ScrollToPlugin JavaScript files -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js" integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://kit.fontawesome.com/3d39655415.js" crossorigin="anonymous"></script> -->
<script src="assets/js/main.js"></script>
