.service-area {
    position: relative;
    background-color: var(--bg-color-1);
    z-index: 1;
}

.line-wrapper-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: -1;
    .line{
      height: 100%;
      width: 1px;
      background: #343434;
      position: absolute;
      left: 23%;
      top: 0;
      &.two{
        left: 50%;
      }
      &.three{
        left: 73%;
      }
     
    }
  }


  .banner-thumbnail {
    background-image: url(../images/banner/01.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 160px 0;
    z-index: 1;
    &::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      background: linear-gradient(102.27deg, #0E0E0E 0%, rgba(35, 35, 35, 0.29) 100%);
    }
    &.two{
      background-image: url(../images/banner/02.jpg);
    }
    &.three{
      background-image: url(../images/banner/03.jpg);
    }
  }



  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    height: 80%;
    width: 20%;
    margin: 0;
    padding: 0;
    position: relative;
    flex-shrink: 0;
    color: black;
    font-size: 21px;
    cursor: pointer;
  }

.banner-area {
    width: 100%;
    padding-right: 100px;
}

  .banner-inner {
      position: relative;
      .banner-subtitle {
          border: 2px solid var(--color-heading);
          display: inline-block;
          padding: 22px 40px;
          border-radius: 100%;
          color: var(--color-heading);
          border-right: 0;
          margin-bottom: 30px;
          }

      .banner-title {
          font-weight: var(--f-semi-bold);
          line-height: 1.20;
          text-transform: capitalize;
          color: var(--color-heading);
          max-width: 1020px;
      }
      .btn-group {
        margin-top: 50px;
      }

     
  }

  .banner-swiper-area-one {
    position: relative;
  }

  .swiper-banner {
    position: relative;
    .swiper-pagination {
      right: 0;
    }
  }


  // Start portfolio style 
    .landing-wrapper {
      width: 100%;
      padding:0;
      position: relative;
      overflow:hidden;
      cursor:pointer;
      z-index: 1;
    }
    
    .landing-inner-content {
      background-color: var(--bg-color-1);
      display: flex;
      align-items: center;
    }
    
    .box {
      position: relative;
      background: transparent;
      width: 22%;
      height: 550px;
      float: left;
      overflow:hidden;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    
    // .box:first-of-type {
    //   margin-left:20px;
    // }
    
    .box:last-of-type {
      margin-right:20px;
    }
    
    .box-content {
      background: #000;
      position: absolute;
      top:0;
      left:0;
      z-index: 999;
    }
    
    .box-content img {
      max-width: max-content;
    }
  
  
    .list {
      .listitem{

        &.color-black {
          
        }
        span {
          color: var(--color-white);
          &.double-line-black {
            color: #000;
          }
        }
      }
    }
  
  
  
   
  