.accordion-item.bg-dark {
    margin-top: 30px;
    &:first-child {
        margin-top: 0;
    }
}

.accordion-header {
    color: #ffffff !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    color: #ffffff !important;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.faq-inner {
    
    .thumbnail {
        img {
            width: 100%;
        }
    }

    .accordion {
       
        .accordion-header {
            .accordion-button {
                font-size: 22px;
                line-height: 1.20;
                font-weight: var(--f-medium);
                text-transform: capitalize;
                padding: 30px 20px;
                border-top: 2px solid var(--color-body);
                border-image: linear-gradient(to right, #FF9900, #EE332B) 1;

                &.collapsed {
                    border-top: none;
                }
            }
        }

        .accordion-body {
            text-transform: capitalize;
            padding-bottom: 30px;
            padding: 0 20px 30px 20px;
           
        }
    }
}


// Quick action  style 


.quick-action-inner {
    background-color: var( --color-bg-1);
    padding: 40px 0;
    transition: .5s;
    @media #{$md-layout} {
        margin-bottom: 20px;
     }

     @media #{$sm-layout} {
        margin-bottom: 20px;
        padding: 25px 0;
     }
    h4 {
        margin: 30px 0;
        transition: .5s;
        @media #{$sm-layout} {
            margin: 20px 0;
         }
    }
    p {
        
        margin-bottom: 11px;
        a {
        color: var(--color-body);
        }
    }
    &:hover {
        margin-top: 10px;
        h4 {
            color: var(--color-primary);
        }
    }
}

