.single-blog{
    border: 1px solid var(--color-border);
    margin-top: 30px;
    &.blog-border-none {
        border: none;
        .blog-inner {
            padding: 0;

        }
    }

    &.blog-high {
        .blog-inner {
            margin-bottom: 60px;
        }
    }
    &:first-child {
        margin-top: 0;
    }
    .blog-inner {
        padding: 30px;
        .title {
            font-weight: var(--f-medium);
            font-size: var(--font-size-b1);
            line-height: var(--line-height-b1);
            text-transform: capitalize;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        .description {
            margin-bottom: 40px;
            font-weight: var(--f-regular);
            font-size: 16px;
            line-height: var(--line-height-b3);
            text-transform: capitalize;
            color: #888888;

        }
    }
}



.blog-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .publish {
        display: flex;
        align-items: center;

        .admin {
            padding-right: 12px;
            p {
                color: var(--color-body);
                
                span {
                    color: var(--color-heading);
                }
            }
        }

        .date {
            padding-left: 12px;
            position: relative;
            &::before {
                content: " ";
                position: absolute;
                width: 1px;
                height: 61%;
                background-color: var(--color-body);
                transform: translate(-50%, -50%);
                top: 50%;
                left: 0px;
            }
        }

    }

    .social-icons {

    }
}




// blog details style start
.single-blog-details {
    padding: 30px;
    background-color: var(--color-bg-1);
    .inner {
        display: flex;
        align-items: center;
        .number {
            margin-right: 20px;
            h2 {
                color: var( --color-secondary);
                font-size: 50px;
                margin-bottom: 0;

            }
            

        }
        .content {

        }
    }
}
